.btn {
    color: #fff;
    background-color: $theme-text;
    padding: 5px 20px;
    border: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    text-transform: uppercase;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-out;

    &:hover {
        color: #fff;
        background-color: $theme-dark;
        text-decoration: none;
    }

    &-white {
        color: $theme-dark;
        background-color: #fff;

        &:hover {
            color: $text;
            background-color: $theme;
        }
    }

    &-light {
        color: $theme-dark;
        background-color: $theme-light;

        &:hover {
            color: $text;
            background-color: $theme;
        }
    }

    &-dark {
        color: #fff;
        background-color: $theme-dark;

        &:hover {
            color: $text;
            background-color: $theme-darker;
        }
    }

    &-black {
        color: #fff;
        background-color: $text;
    }
}