.text-center {
    text-align: center !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.m {
    &t {
        &-0 {
            margin-top: 0 !important;
        }
    }

    &b {
        &-0 {
            margin-bottom: 0 !important;
        }
    }

    &l {
        &-auto {
            margin-left: auto !important;
        }
    }

    @media (min-width: 992px) {
        &t {
            &-lg-0 {
                margin-top: 0 !important;
            }
        }

        &b {
            &-lg-0 {
                margin-bottom: 0 !important;
            }
        }

        &l {
            &-lg-auto {
                margin-left: auto !important;
            }
        }
    }
}

.p {
    &t-0 {
        padding-top: 0 !important;
    }

    &b-0 {
        padding-bottom: 0 !important;
    }

    &y-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

.max-width {
    &--100 {
        max-width: 100px !important;
    }

    &--150 {
        max-width: 150px !important;
    }

    &--200 {
        max-width: 200px !important;
    }

    &--250 {
        max-width: 250px !important;
    }

    &--300 {
        max-width: 300px !important;
    }

    &--350 {
        max-width: 350px !important;
    }

    &--400 {
        max-width: 400px !important;
    }

    &--450 {
        max-width: 450px !important;
    }

    &--500 {
        max-width: 500px !important;
    }

    &--550 {
        max-width: 550px !important;
    }

    &--600 {
        max-width: 600px !important;
    }

    &--650 {
        max-width: 650px !important;
    }

    &--700 {
        max-width: 700px !important;
    }

    &--730 {
        max-width: 730px !important;
    }

    &--750 {
        max-width: 750px !important;
    }

    &--800 {
        max-width: 800px !important;
    }

    &--850 {
        max-width: 850px !important;
    }

    &--900 {
        max-width: 900px !important;
    }

    &--950 {
        max-width: 950px !important;
    }

    &--1000 {
        max-width: 1000px !important;
    }

    &--1050 {
        max-width: 1050px !important;
    }

    &--1100 {
        max-width: 1100px !important;
    }

    &--1150 {
        max-width: 1150px !important;
    }

    &--1200 {
        max-width: 1200px !important;
    }

    &--1250 {
        max-width: 1250px !important;
    }

    &--1300 {
        max-width: 1300px !important;
    }

    &--1350 {
        max-width: 1350px !important;
    }

    &--1400 {
        max-width: 1400px !important;
    }
}

.w-100 {
    width: 100%;
}

.img-fluid {
    max-width: 100%;
}

.imgfit {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.d {
    &-block {
        display: block !important;
    }

    &-none {
        display: none !important;
    }
}

.graybg__wrapper {
    z-index: 1;
    position: relative;

    &::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 85%;
        opacity: .31;
        background-image: linear-gradient(to bottom, #6E6F72, rgba(#DBDEE3, 0));
    }
}

.text-uppercase {
    text-transform: uppercase;
}

.theme-bt {
    position: relative;
    padding-top: 25px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 48.612%;
        height: 25px;
        background: linear-gradient(to right, transparent, rgba(#E5AC84, .05) 30%, $theme-dark 100%);
    }

    &--rt::before {
        right: 0;
    }

    &--lt::before {
        left: 0;
    }
}