$theme: #F3EAE0;
$theme-dark: #C9774F;
$theme-darker: #E5AC84;

$theme-light: #FAEDE4;
$theme-accent: #DCB097;

$text: #1C2B39;
$theme-text: #BB9369;

$blue-bg: #D5DADD;

$yellow: #F2C689;
$yellow-text: #ECDFD3;

.bg {

    &-cream,
    &-light {
        background-color: $theme-light !important;
    }
}

.color {
    &-white {
        color: #fff !important;
    }

    &-text,
    &-black {
        color: $text !important;
    }
}