.footer {
    color: #fff;
    background-color: $text;

    &__top {
        padding-top: 92px;
        padding: 92px 0 40px;

        @media (max-width: 991px) {
            padding: 40px 0 20px;
        }

        &-title {
            margin-bottom: 22px;
        }
    }

    &__branches {

        &-row {
            display: flex;
            padding: 20px 0 40px;
            margin-left: -15px;
            margin-right: -15px;
            border: 1px solid #fff;
            border-width: 1px 0;
        }

        &-col {
            flex: 1;
            padding-left: 15px;
            padding-right: 15px;
        }

        &-title {
            color: $theme-text;
            font-size: 70px;
            font-weight: 300;
            line-height: 108px;
            margin-bottom: 10px;
        }

        p {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 0;

            strong {
                font-size: 16px;
                font-weight: 500;
            }
        }
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 42px;

        a {
            display: block;

            &:not(:last-child) {
                margin-right: 5px;
            }

            img {
                filter: brightness(0) invert(1);
            }
        }
    }

    &__open {
        text-align: center;

        &::before {
            content: "";
            display: block;
            @include margin-auto;
            width: 40px;
            height: 1px;
            background-color: $yellow;
            margin-bottom: 25px;
        }

        p {
            font-family: $font-gotham;
            font-weight: 500;
            color: $yellow;
            font-size: 18px;
            margin-bottom: 0;
        }
    }

    &__bot {
        text-align: center;
        padding: 25px 0 35px;

        ul {
            padding-left: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $font-gotham;
            font-size: 14px;
            font-weight: 300;

            @media (max-width: 767px) {
                display: block;
                color: #fff;

                a {
                    color: #fff;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            &,
            li {
                list-style-type: none;
            }

            li {
                position: relative;
                display: block;

                @media (max-width: 767px) {
                    padding: 15px 0;
                }

                &:not(:last-child) {

                    @media (min-width: 768px) {
                        padding-right: 25px;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 12px;
                        width: 1px;
                        height: 70%;
                        background-color: #fff;

                        @media (max-width: 767px) {
                            top: auto;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            height: 1px;
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
}