.homebg {
    padding: 0;

    &__media {
        position: relative;
        height: 326px;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%) !important;
            pointer-events: none;
            width: 100%;
            height: calc(100% + 100px);
            object-fit: cover;
            object-position: center;
        }
    }
}