.ngen-diff {
    position: relative;
    padding: 35px 0;

    &__header {
        margin-top: 45px;
        margin-bottom: 40px;
    }

    &__title {}

    &__subtitle {
        margin-bottom: 25px;

        &::after {
            content: "";
            display: block;
            width: 56px;
            height: 1px;
            background-color: $text;
            margin-top: 10px;
        }
    }

    &__item {
        padding: 40px 0 42px;
        min-height: 380px;

        &-row {
            display: flex;
        }
    }

    &__slider {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: calc(50vw - 120px);
        padding-top: 24px;
        padding-bottom: 30px;
        margin-bottom: 0 !important;
        @include themeBorder;

        &-wrap {
            position: relative;
            flex: 0 0 calc(50% - 120px);
            height: 433px;
        }

        .slick {
            &-slide {}

            &-dots {
                position: absolute;
                right: 0;
                left: auto;
                bottom: 0;
                width: 100%;
                display: flex;
                justify-content: flex-end;

                li {
                    width: auto;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:not(:last-child) {
                        margin-right: 15px;
                    }

                    button {
                        width: 22px;
                        height: 1px;
                        padding: 0;
                        background-color: $theme-dark;

                        &::before {
                            display: none;
                        }
                    }

                    &.slick-active {
                        button {
                            height: 2px;
                            background-color: $text;
                        }
                    }
                }
            }
        }
    }

    &__content {
        flex: auto;
        padding-left: 40px;
    }

    &__media {
        position: relative;
        height: 378px;

        img {
            display: block;
            @include imgfit;
        }
    }

    &--alt {
        background-color: $theme-light;

        .ngen-diff {
            &__slider {
                right: auto;
                left: 0;
                @include themeBorderAlt;

                &-wrap {
                    order: 2;
                }
            }

            &__content {
                padding-left: 0;
                padding-right: 40px;
            }
        }
    }
}